// Define variables for your color scheme

// Primary color scheme: Blue + White + Yellow
$blue: #1E88E5;
$blue-dark: #0D47A1;
$blue-light: #64B5F6;
$yellow: #FFD700;
$yellow-light: #FFEB3B;
$white: #FFFFFF;
$off-white: #FAFAFA;
$light-gray: #F5F5F5;

// Utility colors
$red: #E53935;
$orange: #FB8C00;
$green: #43A047;
$gray: #424242;
$gray-light: #BDBDBD;
