// Specific CSS for your home-page

body {
  background: linear-gradient(to bottom right, #E3F2FD, #FFFFFF);
  min-height: 100vh;
}

.topic-block {
  height: 275px; // or any fixed height
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(30, 136, 229, 0.1);
}

.topic-content {
  flex: 1 1 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-shadow: 0 1px 3px rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.topic-description {
  flex: 0 0 auto;
  background: #F5F9FC;
  font-size: 0.95rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #424242;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bg-topic-english {
  background-image: asset-url('english.jpg');
}
.bg-topic-français {
  background-image: asset-url('french.jpg');
}
.bg-topic-español {
  background-image: asset-url('spanish.jpg');
}
.bg-topic-japanese {
  background-image: asset-url('japanese.jpg');
}
.bg-topic-italiano {
  background-image: asset-url('italian.jpg');
}
.bg-topic-polski {
  background-image: asset-url('polish.jpeg');
}
.bg-topic-deutsch {
  background-image: asset-url('german.jpg');
}
.bg-topic-português {
  background-image: asset-url('portuguese.jpg');
}
.bg-topic-中文 {
  background-image: asset-url('mandarin.jpg');
}
.bg-topic-한국어 {
  background-image: asset-url('korean.jpg');
}
.bg-topic-العربية {
  background-image: asset-url('arabic.jpg');
}
.bg-topic-русский {
  background-image: asset-url('russian.jpg');
}


/* Optional: refine badge style */
.topic-block .badge {
  font-size: 0.7rem;
  padding: 0.3em 0.6em;
  border-radius: 0.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
  background-color: #FFD700;
  color: #424242;
  font-weight: 600;
}
